<app-indexnav></app-indexnav>
<div class="containerr sign-up-mode">
  <div class="forms-container">
    <div class="signin-signup">
      <form #a="ngForm" (ngSubmit)="onSubmitForgot(a)" class="sign-up-form">
        <h2 class="title">Olvidaste tu contraseña?</h2>
        <div class="input-field">
          <i class="fas fa-envelope"></i>
          <input type="text" placeholder="Email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" autocomplete="off" spellcheck="false" ngModel required email
            #email="ngModel" />
        </div>
        <input type="submit" [disabled]="a.invalid" value="Enviar correo" class="btn solid" />
        <p class="social-text" style="color: red;font-weight: bold;font-size: 20px;" *ngIf="avail">{{msg}}</p>
      </form>
    </div>
  </div>
  <div class="panels-container">
    <div class="panel left-panel">
    </div>
    <div class="panel right-panel">
      <div class="content">
        <h3>Atención!!!</h3>
        <p>
          Una vez que haya enviado la solicitud para restablecer su contraseña, recibirá un correo electrónico. Siga las instrucciones del correo electrónico y se restablecerá su contraseña.
        </p>
        <button class="btn transparent" id="sign-up-btn" >
          No te preocupes
        </button>
      </div>
      <img src="../../../assets/img/forgotpassword.svg" class="image" alt="" />
    </div>
  </div>
</div>